

/* navbar */
.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    background-color: rgb(245, 245, 245);
    position: fixed;
    top: 0;
    opacity: 0.9;

}

.itemNAV a {
    color: rgb(100, 213, 221);
    font-size: x-large;
    
    text-decoration: none;

}

.itemNAV{
    display: flex;
    flex-direction: row;
}


.fa-hand-holding-usd{
    size: 10px;
}
#Commande{
    margin-left: 10px;
}
#Totale{
    margin-left: 10px;

}
.bi :hover{
    color: red;

}

.topICON{
    border-radius: 50%;
    
    
}

.IDqnt{
    width: 150px;
    height: 40px;
}
.Quantity{
    color: gray;
    font-size: 25px;
}


.iconPOB :hover{
    color: red;

}

/* GRID */

.gridCONT{
    display: grid;
    grid-template-columns: auto auto auto; 
    padding: 10px;
    grid-gap: 30px;
    

}

.gridITEM{
    
    border: 1px solid turquoise;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: auto;
    
    
    
    

}
.gridITEM img {
    width: 280px;
    height: 300px;
}

.topICON{
    display: flex;
    flex-direction: row;
    
    
    justify-content: space-between;
}

.bottomICON{
    display: flex;
    flex-direction: row;
    
    
    justify-content: space-between;

}

.bottomICONitem{
    margin-top: 30px;
}


.plus :hover{
    color: green;
    
}

.moins :hover{
    color: yellow;
}

/* class red */ 
.redLIKE {
    color: red;
}


/* footer */
.footer h4 {
    text-align: center;
    color: grey;
}
h5{

    
    text-align: center;
   
    
    color: grey;
}

.lastL{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/*  responsive container */
@media screen and (max-width: 600px) {

    .gridCONT{
        display: flex;
        flex-direction: column;
        
        
    
    }
    .gridITEM{
    
       
        font-size: 25px;
        text-align: center;
        height: auto;
        width: auto;
        
        
        
    
    }
    
    .footer{
        font-size: 10px;
        text-align: center;

    }
}
